:root {
  --global-font-family: 'LXGW WenKai Screen', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Lato, Roboto, 'PingFang SC', 'Microsoft YaHei', sans-serif;
  --code-height-limit: 150px;
  --article-box-shadow: 0 2px 7px rgba(0,0,0,0.09);
  --link: #2094f3;
  --link-hover: #ff5724;
  --link-hover-bg: rgba(32,148,243,0.125);
  --img-paster-bg: #000;
  --del-bg: #000;
  --del-hover: #fff;
  --line: #bbb;
  --code: #ff5724;
  --figure-bg: #fffdfd;
  --note-border-left: #aaa;
  --note-bg: #bbb;
  --post-meta: #bbb;
  --post-copyright: #bbb;
  --post-context-info: #bbb;
  --post-context-title: #000;
}
body {
  font-family: var(--global-font-family);
}
@font-face {
  font-family: 'SourceCodePro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/css/font/SourceCodePro-Regular.ttf.woff2") format('woff2');
}
figure.highlight > :is(table,
pre) {
  max-height: var(--code-height);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  display: block;
}
figure.highlight > :is(table,
pre):not(.code-expand-btn.expand-done + *) {
  max-height: var(--code-height-limit);
}
.highlight {
  position: relative;
  overflow: auto;
  -webkit-box-shadow: var(--article-box-shadow);
  box-shadow: var(--article-box-shadow);
}
.highlight figcaption {
  padding: 8px 0;
  font-size: 13px;
  font-weight: 700;
  border-bottom: 1px solid var(--line);
}
.highlight figcaption i {
  vertical-align: bottom;
  margin: 4px;
  opacity: 0.25;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
  filter: alpha(opacity=25);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
}
.highlight figcaption i:hover {
  opacity: 0.75;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
}
.highlight .code-expand-btn {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: 0;
  left: 0;
  background: -webkit-linear-gradient(270deg, rgba(255,253,253,0.62), #fffdfd);
  background: -moz-linear-gradient(270deg, rgba(255,253,253,0.62), #fffdfd);
  background: -o-linear-gradient(270deg, rgba(255,253,253,0.62), #fffdfd);
  background: -ms-linear-gradient(270deg, rgba(255,253,253,0.62), #fffdfd);
  background: linear-gradient(180deg, rgba(255,253,253,0.62), #fffdfd);
  pointer-events: none;
}
.highlight .code-expand-btn i {
  pointer-events: all;
  max-width: 50%;
  margin: auto;
  display: block;
  -webkit-animation: code-expand-key 1.2s infinite;
  -moz-animation: code-expand-key 1.2s infinite;
  -o-animation: code-expand-key 1.2s infinite;
  -ms-animation: code-expand-key 1.2s infinite;
  animation: code-expand-key 1.2s infinite;
}
.highlight .code-expand-btn i.ri-arrow-down-s-fill {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -ms-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.highlight .code-expand-btn.expand-done {
  background: none;
}
.highlight .code {
  vertical-align: top;
}
.highlight td.gutter pre {
  border-right: 1px solid var(--line);
  padding-right: 0.5rem;
}
.highlight .language {
  position: absolute;
  font-size: 13px;
  top: 4px;
  right: 12px;
  padding: 4px 0.5rem;
  opacity: 0.25;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
  filter: alpha(opacity=25);
  font-weight: 700;
}
.highlight pre {
  margin: 6px 0;
  font-family: 'SourceCodePro';
  font-size: 0.8125rem;
}
.highlight td.code {
  padding-left: 1rem;
}
.highlight .comment,
.highlight .quote {
  color: #a0a1a7;
  font-style: italic;
}
.highlight .doctag,
.highlight .formula,
.highlight .keyword {
  color: #a626a4;
}
.highlight .deletion,
.highlight .name,
.highlight .section,
.highlight .selector-tag,
.highlight .subst {
  color: #e45649;
}
.highlight .literal {
  color: #0184bb;
}
.highlight .addition,
.highlight .attribute,
.highlight .meta .string,
.highlight .regexp,
.highlight .string {
  color: #50a14f;
}
.highlight .attr,
.highlight .number,
.highlight .selector-attr,
.highlight .selector-class,
.highlight .selector-pseudo,
.highlight .template-variable,
.highlight .type,
.highlight .variable {
  color: #986801;
}
.highlight .bullet,
.highlight .link,
.highlight .meta,
.highlight .selector-id,
.highlight .symbol,
.highlight .title {
  color: #4078f2;
}
.highlight .built_in,
.highlight .class .title,
.highlight .title.class_ {
  color: #c18401;
}
.highlight .emphasis {
  font-style: italic;
}
.highlight .strong {
  font-weight: 700;
}
.highlight .link {
  text-decoration: underline;
}
@-moz-keyframes code-expand-key {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -o-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes code-expand-key {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -o-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-o-keyframes code-expand-key {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -o-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes code-expand-key {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -o-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
.toastify {
  border-radius: 20px !important;
  backdrop-filter: blur(4px);
  -webket-backdrop-filter: blur(4px);
}
.toastify:before {
  margin-right: 4px;
  vertical-align: bottom;
  font-family: 'remixicon';
  font-size: 18px;
}
.toastify.toastify-success {
  color: #000;
  background: rgba(248,255,248,0.733);
}
.toastify.toastify-success:before {
  content: "\eb80";
  color: #0a0;
}
.toastify.toastify-error {
  color: #000;
  background: rgba(255,248,248,0.733);
}
.toastify.toastify-error:before {
  content: "\eb96";
  color: #f00;
}
.toastify.toastify-info {
  color: #000;
  background: rgba(238,250,255,0.733);
}
.toastify.toastify-info:before {
  content: "\ee58";
  color: #00b4ff;
}
.toastify.toastify-warn {
  color: #000;
  background: rgba(255,240,221,0.733);
}
.toastify.toastify-warn:before {
  content: "\eca0";
  color: #f80;
}
.box-test {
  border-radius: 2px;
  -webkit-box-shadow: var(--article-box-shadow);
  box-shadow: var(--article-box-shadow);
}
.typesetting {
  background-size: 100% 24px;
  background-image: -webkit-linear-gradient(transparent 23px, hsla(0,0%,93%,1) 1px), -webkit-linear-gradient(right, transparent 12px, hsla(0,0%,93%,1), transparent 13px), -webkit-linear-gradient(left, transparent 12px, hsla(0,100%,50%,0.4), transparent 13px);
  background-image: -moz-linear-gradient(transparent 23px, hsla(0,0%,93%,1) 1px), -moz-linear-gradient(right, transparent 12px, hsla(0,0%,93%,1), transparent 13px), -moz-linear-gradient(left, transparent 12px, hsla(0,100%,50%,0.4), transparent 13px);
  background-image: -o-linear-gradient(transparent 23px, hsla(0,0%,93%,1) 1px), -o-linear-gradient(right, transparent 12px, hsla(0,0%,93%,1), transparent 13px), -o-linear-gradient(left, transparent 12px, hsla(0,100%,50%,0.4), transparent 13px);
  background-image: -ms-linear-gradient(transparent 23px, hsla(0,0%,93%,1) 1px), -ms-linear-gradient(right, transparent 12px, hsla(0,0%,93%,1), transparent 13px), -ms-linear-gradient(left, transparent 12px, hsla(0,100%,50%,0.4), transparent 13px);
  background-image: linear-gradient(transparent 23px, hsla(0,0%,93%,1) 1px), linear-gradient(to left, transparent 12px, hsla(0,0%,93%,1), transparent 13px), linear-gradient(to right, transparent 12px, hsla(0,100%,50%,0.4), transparent 13px);
}
@media screen and (min-width: 640px) {
  .typesetting {
    background-image: -webkit-linear-gradient(transparent 23px, hsla(0,0%,93%,1) 1px), -webkit-linear-gradient(right, transparent 48px, hsla(0,0%,93%,1), transparent 49px), -webkit-linear-gradient(left, transparent 48px, hsla(0,100%,50%,0.4), transparent 49px);
    background-image: -moz-linear-gradient(transparent 23px, hsla(0,0%,93%,1) 1px), -moz-linear-gradient(right, transparent 48px, hsla(0,0%,93%,1), transparent 49px), -moz-linear-gradient(left, transparent 48px, hsla(0,100%,50%,0.4), transparent 49px);
    background-image: -o-linear-gradient(transparent 23px, hsla(0,0%,93%,1) 1px), -o-linear-gradient(right, transparent 48px, hsla(0,0%,93%,1), transparent 49px), -o-linear-gradient(left, transparent 48px, hsla(0,100%,50%,0.4), transparent 49px);
    background-image: -ms-linear-gradient(transparent 23px, hsla(0,0%,93%,1) 1px), -ms-linear-gradient(right, transparent 48px, hsla(0,0%,93%,1), transparent 49px), -ms-linear-gradient(left, transparent 48px, hsla(0,100%,50%,0.4), transparent 49px);
    background-image: linear-gradient(transparent 23px, hsla(0,0%,93%,1) 1px), linear-gradient(to left, transparent 48px, hsla(0,0%,93%,1), transparent 49px), linear-gradient(to right, transparent 48px, hsla(0,100%,50%,0.4), transparent 49px);
  }
}
.click-limit {
  -webkit-animation: throttle 1s step-end forwards;
  -moz-animation: throttle 1s step-end forwards;
  -o-animation: throttle 1s step-end forwards;
  -ms-animation: throttle 1s step-end forwards;
  animation: throttle 1s step-end forwards;
}
.click-limit:active {
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  -ms-animation: none;
  animation: none;
}
.layout {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.layout #mainbody {
  max-width: 768px;
  width: 100%;
  margin-block-start: 48px;
  margin-block-end: 72px;
  margin-inline: 0;
  padding-block: 48px;
}
.layout #mainbody #post {
  padding-inline: 12px;
  padding-block: 48px;
}
@media screen and (min-width: 640px) {
  .layout #mainbody #post {
    padding-inline: 48px;
  }
}
.layout aside {
  width: calc((100% - 768px) / 2);
  margin-block-start: 48px;
  margin-block-end: 72px;
  margin-inline: 20px;
}
.layout #leftbody {
  right: 0;
}
.layout #rightbody {
  left: 0;
}
article {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  letter-spacing: 0.02em;
}
article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  margin-block-start: 24px;
  margin-block-end: 12px;
}
article h1 {
  font-size: 32px;
  line-height: 48px;
}
article h2 {
  font-size: 24px;
  line-height: 48px;
}
article h3 {
  font-size: 20px;
  line-height: 48px;
}
article h4 {
  font-size: 18px;
  line-height: 24px;
}
article h5 {
  font-size: 16px;
  line-height: 24px;
}
article h6 {
  font-size: 14px;
  line-height: 24px;
}
article p {
  margin-block: 24px;
  line-height: 1.5;
}
article p a {
  display: inline-block;
  color: var(--link);
  padding-inline: 4px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
article p a:hover {
  border-radius: 4px;
  background: var(--link-hover-bg);
}
article p span:has(img) {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-box;
  display: inline-flex;
}
article p .bigimg:has(img) {
  display: block;
  position: relative;
}
article p .bigimg:has(img):before {
  position: absolute;
  content: '';
  z-index: 1;
  height: 20px;
  width: 100px;
  background: var(--img-paster-bg);
  opacity: 0.15;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
  filter: alpha(opacity=15);
  top: 22px;
  left: -25px;
  -webkit-transform: rotate(-0.12turn);
  -moz-transform: rotate(-0.12turn);
  -o-transform: rotate(-0.12turn);
  -ms-transform: rotate(-0.12turn);
  transform: rotate(-0.12turn);
  clip-path: polygon(0 0, 100% 0, 95% 25%, 100% 50%, 95% 75%, 100% 100%, 0 100%, 4% 75%, 0 50%, 5% 25%);
}
article img {
  max-width: 100%;
  margin-block: 12px;
  border-radius: 20px;
  -webkit-transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: var(--article-box-shadow);
  box-shadow: var(--article-box-shadow);
}
@media screen and (min-width: 640px) {
  article del {
    background: var(--del-bg);
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    padding-inline: 4px;
    margin-inline: 4px;
    -webkit-transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
  article del:hover {
    color: var(--del-hover);
  }
}
article ul,
article ol,
article dl {
  margin-block-start: 12px;
  margin-block-end: 24px;
  line-height: 1.5;
}
article ul,
article ol {
  padding-inline-start: 32px;
}
article ul ul,
article ul ol,
article ol ul,
article ol ol {
  margin-block: 0;
}
article ul {
  list-style-type: disc;
}
article ol {
  list-style-type: decimal;
}
article ul ul,
article ol ul {
  list-style-type: circle;
}
article ul ul ul,
article ul ol ul,
article ol ul ul,
article ol ol ul {
  list-style-type: square;
}
article li {
  list-style-type: unset;
}
article hr {
  margin-block-start: 34px;
  margin-block-end: 36px;
  border-style: double;
  border-color: var(--line);
  background: var(--line);
  border-radius: 1px;
}
article code {
  font-family: var(--global-font-family);
  font-style: italic;
  font-size: 13px;
  color: var(--code);
  background: rgba(0,0,0,0.055);
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  border-radius: 4px;
  padding-inline: 4px;
  margin-inline: 4px;
  display: inline-block;
}
article pre code {
  line-height: 1.5;
  padding-block: 12px;
  padding-inline: 20px;
  border-radius: 10px;
}
article figure {
  line-height: 1.5;
  background: var(--figure-bg);
  margin-block: 20px;
  margin-inline: 4px;
  padding-inline: 20px;
  border-radius: 20px;
}
article blockquote {
  margin-block: 36px;
  margin-inline: 4px;
  padding-block: 12px;
  padding-inline: 16px;
  background: rgba(0,0,0,0.055);
  border-radius: 8px;
  border-left: 8px solid var(--note-border-left);
}
article blockquote p {
  margin-block-start: 0;
}
article blockquote p:last-of-type {
  margin-block-end: 0;
}
article blockquote blockquote {
  margin-block: 12px;
}
article li:has(input)::marker {
  content: none;
}
article ul:has(li>input) {
  padding-inline-start: 10px;
}
article table:not(figure.highlight *) {
  margin-block-start: 22px;
  margin-block-end: 24px;
  margin-inline: 4px;
  width: -webkit-fill-available;
  text-align: left;
  border-top: 2px solid;
  border-bottom: 1.76px solid;
  border-collapse: collapse;
}
article table:not(figure.highlight *) thead,
article table:not(figure.highlight *) tbody tr {
  height: 24px;
}
#post-head {
  margin-inline: 4px;
  line-height: 24px;
  font-size: 13px;
}
#post-head h1 {
  margin-block-start: 24px;
  margin-block-end: 48px;
  font-size: 32px;
  line-height: 48px;
}
#post-head a {
  display: inline-block;
  color: var(--link);
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#post-head a:hover {
  color: var(--link-hover);
}
#post-head #post-meta {
  color: var(--post-meta);
}
#article-container {
  margin-inline: 4px;
}
#post-copyright {
  color: var(--post-copyright);
  font-size: 14px;
  text-align: center;
  margin-block: 48px;
}
#post-copyright i:before {
  vertical-align: bottom;
  font-size: 20px;
}
#post-copyright a {
  color: var(--post-copyright);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#post-copyright a:hover {
  color: var(--link-hover);
}
#post-context {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  border-top: 1px dashed var(--line);
}
#post-context #post-prev {
  width: 50%;
  text-align: left;
  margin-inline-end: 8px;
  padding-block: 16px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
#post-context #post-next {
  width: 50%;
  text-align: right;
  margin-inline-start: 8px;
  padding-block: 16px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -moz-box-align: end;
  -o-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
#post-context span {
  font-size: 13px;
  color: var(--post-context-info);
  padding-block-end: 6.5px;
}
#post-context a {
  color: var(--post-context-title);
  font-size: 24px;
  height: 100%;
  width: 75%;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#post-context a:hover {
  color: var(--link-hover);
}
.tag-mark.u {
  text-decoration: none;
  border-bottom: 2px solid;
}
.tag-mark.wavy {
  text-decoration: underline wavy;
}
.tag-mark.emp {
  width: fit-content;
  text-decoration: none;
  border-bottom: 4px dotted;
}
.tag-mark.cover {
  border-radius: 2px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.tag-mark.cover:hover {
  color: #fff;
}
.tag-mark.del {
  text-decoration: line-through;
}
.tag-mark.sup {
  vertical-align: super;
  line-height: 1;
  font-size: smaller;
}
.tag-mark.sub {
  vertical-align: sub;
  line-height: 1;
  font-size: smaller;
}
.tag-mark.kbd {
  border-radius: 4px;
  border: 1px solid #808080;
  border-bottom-width: 3px;
  padding-inline: 2px;
  font-size: 14px;
  vertical-align: text-top;
}
.tag-mark.red {
  color: #f00;
}
.tag-mark.red.cover {
  background: #f00;
}
.tag-mark.orange {
  color: #ffa500;
}
.tag-mark.orange.cover {
  background: #ffa500;
}
.tag-mark.yellow {
  color: #cc0;
}
.tag-mark.yellow.cover {
  background: #cc0;
}
.tag-mark.green {
  color: #008000;
}
.tag-mark.green.cover {
  background: #008000;
}
.tag-mark.cyan {
  color: #0cc;
}
.tag-mark.cyan.cover {
  background: #0cc;
}
.tag-mark.blue {
  color: #00f;
}
.tag-mark.blue.cover {
  background: #00f;
}
.tag-mark.purple {
  color: #800080;
}
.tag-mark.purple.cover {
  background: #800080;
}
.tag-mark.grey {
  color: #808080;
}
.tag-mark.grey.cover {
  background: #808080;
}
@-moz-keyframes throttle {
  0% {
    pointer-events: none;
  }
  100% {
    pointer-events: all;
  }
}
@-webkit-keyframes throttle {
  0% {
    pointer-events: none;
  }
  100% {
    pointer-events: all;
  }
}
@-o-keyframes throttle {
  0% {
    pointer-events: none;
  }
  100% {
    pointer-events: all;
  }
}
@keyframes throttle {
  0% {
    pointer-events: none;
  }
  100% {
    pointer-events: all;
  }
}
